body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #626262;
    color: white;
    padding: 0;
}

h1{
    font-size: 16pt;
    color: #77A2FF;
    /* margin-left: 20px; */
}

hr{
    width: 60vw;
    margin: 1rem auto;
}
/* NavBar */
/* NavBar Burger button/text */
:root{
    --bs-border-width: 0px; /*retire les bordures du bouton burger*/
    --bs-light-rgb:#626262;/*retire le background de la navbar, qui est géré aussi par opacity*/
}

.navbar{
    --bs-navbar-toggler-focus-width: 0; /*retire la bordure au clic sur le bouton burger*/
    --bs-navbar-color:#77A2FF;/*Couleur des items de la liste de la navbar*/
}

.navbar-nav{
    align-items: flex-end; /*alignement à droite de la liste de la navbar*/
}

.navbar-toggler-icon {
    background: url("../img/Icones/iconeBurgerModifie.png");/*icone de burger personnalisé*/
    background-size: 100%; /*Taille de l'icone burger dans le bouton*/
    margin: 0;
}

 .navbar-toggler{
    --bs-navbar-toggler-font-size:150%;/*Taille de l'icone burger par rapport à la taille d'origine*/
}


/* Présentation */
#presentationContainer{
    background-color: #626262;
    position: relative;
    height: 80vw;
    width: 96vw;
    margin: 2vw;
}

#presentationBg{
    background: url('/public/assets/img/bg/bg1.jpg') no-repeat center; 
    background-size: cover;
    filter: alpha(opacity=25);
    /* IE */
    -moz-opacity: 0.25;
    /* Mozilla */
    opacity: 0.25;
    /* CSS3 */
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#presentationContent{
    position :absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-shadow: 2px 2px 5px #000 ;
}
/* Presentation END */


/* Skills/Formations/XP */
h3{
    font-size: 1rem;
    text-shadow: black 2px 2px 5px;
}

.skills{
    border-right: #77A2FF 1px solid;
}

.skillsList>li, .formationsList>li{
    list-style-type: none;
    background-color: #77A2FF;
    margin: 0.625rem 0;
    border-radius: 0.3rem;
    padding-left: 0.2rem ;
    height: 2rem;
    position: relative;
    font-weight: bold;
    font-size: 0.85rem;
}

.skillsList small, .formationsList>li>:nth-child(2){
    font-weight: 100;
    position: absolute;
    right: 0.2rem;
    bottom: 0;
    font-size: 0.5rem;
}

.imgHtml{
    height: 2rem;
    width: 2.5rem;
}

.imgPhp{
    height: 2rem;
    width: 4rem;
}

.imgBootstrap{
    height: 1.5rem;
    width: 2rem;
    margin-left: 3rem;
}

.imgJs{
    height: 2rem;
    width: 1.25rem;
    margin-left: 4.5rem;
}

.imgWordpress{
    height: 2rem;
    width: 4.5rem;
    margin-left: 6.3rem;
}

.formationsList>li>:first-child{
    font-weight: 100;
    position: absolute;
    left: 0.2rem;
    bottom: 0;
    font-size: 0.5rem;
}

.xpList{
    background-color: #77A2FF;
    border-radius: 0.4rem;
}

.xpList>:first-child{
    border-bottom: white 3px solid;
}

.xpDescription{
    font-weight: 100;
    font-size: 0.6875rem;
    position: relative;
    line-height: 0.9rem;
    margin-bottom: 1rem;
}

.xpYear{
    font-size: 0.8rem;
}

.xpDescription small{
    position: absolute;
    right: 1rem;
    bottom: -2rem;
    font-size: 0.4rem;  
    letter-spacing: 0.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
}

/* Skills/Formations/XP END */


/* Porte folio */
.porteFolio{
    background: url("../img/Icones/iconeConstruction.png");
    background-size: contain;
    height: 100vw;
}

/* Centre d'intérêts */
.img{
    object-fit: cover;
    opacity: 80%;
    border: 1px solid #77A2FF;
    width: 7rem;
    height: 7rem;
}

.img:active, .img:hover{
    width: 10rem;
    height: 10rem;
    font-size: 2rem;
}

.ci1{
    background: url("../img/centreInteret/VTT.jpg");
    background-size: cover;
}

/* Footer */
.iconePhone{
    height: 20px;
}

.phoneNumber:hover, .emailAdress:hover{
    color: #77A2FF;
}

.iconeEmail{
    height: 1rem;
    width: 1rem;
}
.imgLinkedin{
    height: 2rem;
}

.imgFacebook{
    height: 2rem;
}

footer a{
    text-decoration: none;
    color: white;
}